@font-face {
	font-family: 'BRLNSR';
	src: url('../fonts/berlin/BRLNSR.eot');
	src: local('BRLNSR'), url('../fonts/berlin/BRLNSR.woff') format('woff'), url('../fonts/berlin/BRLNSR.ttf') format('truetype');
}

html, body{
    font-family: 'BRLNSR';
    height: 100%;
    overflow: auto;
    background: rgb(255,255,255); /* Old browsers */
    font-size: 12px;
}


h1 {
    font-size: 34px !important;
}

.wrapper {
    padding: 0px !important;
    margin: 0px !important;
    min-height: 100% !important;
    padding-bottom: 110px !important;
}

.sublevel li {
    list-style: none;
}

.toplevel {
    font-weight: bold;
}

.leaflet-popup-content {
	color: #000000;
	}
.home-menu
{
    font: 300 16px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif
}

.home-menu-form
{
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
}

.pure-menu.pure-menu-open.pure-menu-fixed {
    background-color:  #606060;
    font-family : BRLNSR;
    border: none;
    color: white;
}

.home-menu .pure-menu-heading {
    color: white;
}

.home-menu .pure-menu-heading img {
    display: inline-block;
    margin-right: 10px;
}

.pure-menu a, .pure-menu .pure-menu-can-have-children > li:after {
    color: white;
    background-color: #606060;
}

.pure-menu li a:hover, .pure-menu li a:focus {
    background: none repeat scroll 0 0 #879ad2;
}

.pure-menu li a span {
    color: #879ad2;
}

.pure-menu li a:hover span {
    color: white;
}

.home-menu-form .pure-button,
.home-menu .pure-form input[type=email],
.home-menu .pure-form input[type=text],
.home-menu .pure-form input[type=password],
.home-menu-form label,
.home-menu-form a
{
    padding: 0.2em;
    font-size: 18px;
}

.home-menu ul
{
    float: right;
}

.pure-button {
    background-color: #879ad2 !important;
}

.fp-controlArrow.fp-next
{
    border-color: transparent transparent transparent red;
}

.fp-controlArrow.fp-prev
{
    border-color: transparent red transparent transparent;
}

.slider-article
{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.slider-article-title
{
    font-size: 5em;
}

.slider-article-content
{
    font-size: 3em;
}

.separator
{
    width: 100%;
    height: 2px;
    border-bottom: 1px solid #E2E2E2;
    margin-top: 50px;
}

.footer
{
    text-align: center;
    background-color: #606060;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
}

.frontpage-last-section-buttons
{
    font-size: 3em;
    padding: 0.5em;
}

.content-news
{
    max-width: 950px;
    margin: 0 auto;
}

.content-news .sidebar {
    float: left !important;
    margin-top: 40px;
    width: 200px;
}

.content-news h1
{
    font-size: 34px;
    color: #879ad2;
    margin-top: 5px !important;
}

.content-news h2
{
    color: #879ad2;
}

.content-news h3
{
    color: #879ad2;
}

small {
    font-size: 1.3em;
}

.content-news .entry
{
    font-size: 1.5em;
}

.content-news-header
{
    font-size: 34px;
    margin-top: 40px;
}

.content-news-site-switch
{
    font-size: 1.5em;
    margin-top: 10px;
    text-align: center;
}

.content-wrap {
    width: auto !important;
    max-width: 700px !important;
}

.slider-article-content img
{
    display: none;
}

.content-registration
{
    max-width: 750px;
    margin: 0 auto;
}

.content-registration p {
    font-size: 1.3em;
    text-align: center;
}

#registration-form .pure-control-group label
{
    text-align: left;
    font-size: 18px;
}

#registration-form .pure-control-group input[type=text], #registration-form .pure-control-group input[type=password], #registration-form .pure-control-group input[type=email], #registration-form .pure-control-group textarea
{
    width: 15em;
    font-size: 18px;
}

#registration-form .pure-control-group .separator
{
    padding-top: 1.5em;
}

#registration-form .pure-controls
{
    margin: 0;
}

#registration-form button {
    font-size: 18px;
    display: block;
    margin: auto;
}

/*  category menu */
.popup {
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    width: 12%;
    position: absolute;
    right: 0px;
    z-index: 1;
    display: none;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

.pure-checkbox > span {
    /* position: relative; */
    /* bottom: 3px; */
    left: 2px;
}

h3 > span {
    font-size: 2em;
    font-weight: normal;
}

textarea.organisation-current-need {
    width: 15em !important;
}

.pure-checkbox > input {
    width: 4em !important;
    padding: 2px !important;
    margin-bottom: 0.5em;

}


p.copyright {
  color: white;
}

a {
  color: #879ad2;
}

.pure-menu.pure-menu-open, .pure-menu.pure-menu-horizontal li .pure-menu-children {
    z-index: 1001;
    width: 100%;
    background-color: #606060;
    border: 0;
}

#editable-page-content {
    font-size: 2em;
}

.mobile form.home-menu-form.pure-form {
    display: none;
}
.mobile main {
    top: 30px;
    position: relative;
}

.mobile ul.pure-menu-children {
    display: none;
}

#mobileoptions {
    position: fixed;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    transform: rotate(90deg);
    z-index: 1001;
    background: lightgrey;
    border: 0;
    display:none;
}
.mobile #mobileoptions{
    display:block;
}

.home-menu-form.pure-form > input {
    width: 100px;
}

.mobile .leaflet-control-layers.leaflet-control-layers-expanded.leaflet-control {
    zoom: 70%;
    margin-right: 0px;
    margin-top: 0px;
}

.cardspan{
    display:none;
}
.mobile .cardspan {
    display: inline;
    left: -12px;
    position: relative;
}
.mobile .mappin {
    left: -17px;
    position: relative;
}

.mobile .pure-menu-heading{
    padding-right: 5px;
}
/* ---------------------------------------------------------------- */
/* ----------------------------- Registration --------------------- */
/* ---------------------------------------------------------------- */

#reg-content #checkboxes {
    margin: auto;
    text-align: center;
    border-bottom: 1px solid #E2E2E2;
}

#reg-content #checkboxes fieldset {
    text-align: left;
    display: inline-block;
    vertical-align: top;
    font-size: 1.1em;
    border: none !important;
    padding-right: 20px;
    line-height: 20px;
    width: 240px;
}

#reg-content #checkboxes fieldset .labeledCheckbox input {
    display: inline-block;
    position: relative;
    top: -1px;
    vertical-align: middle;
    margin-right: 5px;
}

#reg-content #checkboxes fieldset .labeledCheckbox label {
    font-size: 1em;
    display: inline-block;
    vertical-align: middle;
}

#reg-content #checkboxes fieldset .labeledCheckbox.subCategory {
    margin-left: 15px;
}

#reg-content #checkboxes fieldset .labeledCheckbox.topCategory {
    font-weight: bold;
    font-size: 1.2em;
}

#reg-content #checkboxes .subCategoryContainer.collapsed {
    display: none;
}

#reg-content #checkboxes fieldset .subCategoryContainerUncollapse:hover {
    cursor: pointer;
}

/* ---------------------------------------------------------------- */
/* ----------------------------- MAP ------------------------------ */
/* ---------------------------------------------------------------- */

#map #mapFilter {
    margin: auto;
    text-align: center;
    border-bottom: 1px solid #E2E2E2;
}

#map #mapFilter p {
    font-size: 1.5em;
}


#map #mapFilter fieldset {
    text-align: left;
    display: inline-block;
    vertical-align: top;
    font-size: 1.1em;
    border: none !important;
    padding-right: 20px;
    line-height: 20px;
    width: 240px;
}

#map #mapFilter fieldset .labeledCheckbox input {
    display: inline-block;
    position: relative;
    top: -1px;
    vertical-align: middle;
    margin-right: 5px;
}

#map #mapFilter fieldset .labeledCheckbox label {
    display: inline-block;
    vertical-align: middle;
}

#map #mapFilter fieldset .labeledCheckbox.subCategory, #map #mapFilter fieldset .subCategoryContainerUncollapse {
    margin-left: 15px;
}

#map #mapFilter fieldset .labeledCheckbox.topCategory {
    font-weight: bold;
    font-size: 1.2em;
}

#map #mapFilter .subCategoryContainer.collapsed {
    display: none;
}

#map #mapFilter fieldset .subCategoryContainerUncollapse:hover {
    cursor: pointer;
}

#map #mapFilterResultsTextual.moreMap {
    display: none;
}

#map #mapFilterResultsTextual {
    width: 40%;
    min-width: 330px;
    float: left;
    padding-left: 20px;
    border-bottom: 1px solid #E2E2E2;
}

#map #mapFilterResultsTextual .results {
    overflow-y: scroll;
}

#map #mapFilterResultsTextual .resultEntry {
    border-bottom: 1px solid #E2E2E2;
    margin-right: 20px;
    padding-bottom: 15px;
    clear: both;
}

#map #mapFilterResultsTextual .resultEntry:last-child {
    border-bottom: 0px;
}

#map #mapFilterResultsTextual .orgrank {
    font-size: 2em;
    display: inline-block;
    margin-right: 10px;
}

#map #mapFilterResultsTextual .orgname {
    font-size: 1.5em;
    display: inline;
}

#map #mapFilterResultsTextual .orgstreet, #map #mapFilterResultsTextual .orgcity, #map #mapFilterResultsTextual .orgwebsite {
    font-size: 1.1em;
    display: block;
    margin-left: 50px;
}

#map #mapFilterResultsTextual .orgwebsite {
    display: inline;
}

#map #mapFilterResultsTextual .showprofile {
    display: block;
    text-align: center;
    margin-right: 50px;
    font-size: 1.1em;
}

#map #mapFilterResultsTextual .showprofile:hover, #map #mapView .resultEntry .showprofile:hover, #map #profile a:hover, #map a#toggleSize:hover {
    cursor: pointer;
}

#map #mapView.moreMap {
    width: 100%;
}

#map #toggleSize {
    font-size: 1.5em;
    margin-left: 20px;
}

#map #mapView {
    float: left;
    width: 60%;
    border-left: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
    margin-left: -1px;
    margin-bottom: -1px;
    padding-left: 20px;
    padding-right: 20px;
}

#map #mapView h1 {
    display: inline-block;
}

#map #mapView .resultEntry {
    font-family: 'BRLNSR' !important;
    font-size: 1.0em !important;
}

#map #mapView .resultEntry a {
    color: #879ad2;
}

#map #mapView .resultEntry a:hover, #map #profile a:hover {
    color: #606060;
}

#map #mapView .resultEntry span {
    display: block;
}

#map #mapView .resultEntry .orgname {
    font-size: 1.4em;
}

#map #mapView .resultEntry .orgstreet, #map #mapView .resultEntry .orgcity, #map #mapView .resultEntry .orgwebsite {
    margin-left: 20px;
}

#map #mapView .resultEntry .showprofile {
    display: block;
    text-align: center;
    margin-top: 10px;
}

#map #profile .arrow-left {
    width: 0; 
    height: 0; 
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid #879ad2;
    display: inline-block; 
}

#map #profile>div {
    margin-top: 10px;
    font-size: 1.3em !important;
}

#map #profile a.profileback {
    font-size: 1.5em;
}

#map #profile {
    margin: 0 auto;
    width: 60%;
    min-width: 330px;
    padding: 20px;
}

#map #profile img {
    float: right;
    margin: 20px;
}

#map #profile h1 {
    clear: both;
}

#maphint {
    display: block;
    font-size: 24pt;
}

/* ---------------------------------------------------------------- */
/* --------------------------- LOGIN ------------------------------ */
/* ---------------------------------------------------------------- */

.orglogin {
    margin: 0 auto;
    width: 60%;
    padding-top: 65px;
}

.orglogin input {
    width: 200px !important;
}

.orglogin button {
    display: block;
    margin-top: 5px;
}