@font-face {
	font-family: 'BRLNSR';
	src: url('../fonts/berlin/BRLNSR.eot');
	src: local('BRLNSR'), url('../fonts/berlin/BRLNSR.woff') format('woff'), url('../fonts/berlin/BRLNSR.ttf') format('truetype');
}

html, body{
    height: 100%;
    overflow: auto;
background: rgb(161,161,204); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(161,161,204,1) 0%, rgba(112,127,170,1) 29%, rgba(96,96,96,1) 78%, rgba(96,96,96,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(161,161,204,1)), color-stop(29%,rgba(112,127,170,1)), color-stop(78%,rgba(96,96,96,1)), color-stop(100%,rgba(96,96,96,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(161,161,204,1) 0%,rgba(112,127,170,1) 29%,rgba(96,96,96,1) 78%,rgba(96,96,96,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(161,161,204,1) 0%,rgba(112,127,170,1) 29%,rgba(96,96,96,1) 78%,rgba(96,96,96,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(161,161,204,1) 0%,rgba(112,127,170,1) 29%,rgba(96,96,96,1) 78%,rgba(96,96,96,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(161,161,204,1) 0%,rgba(112,127,170,1) 29%,rgba(96,96,96,1) 78%,rgba(96,96,96,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1a1cc', endColorstr='#606060',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#OpenStreetMapView
{
    width: 100%;
}

.leaflet-popup-content {
	color: white;
	}
.home-menu
{
    font: 300 18px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif
	color: white;
}

.home-menu-form
{
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
}

.pure-menu.pure-menu-open.pure-menu-fixed {
    background-color: #606060;
    font-family : BRLNSR;
    border: none;
    color: white;
}

.home-menu .pure-menu-heading {
    color: white;
}

.pure-menu a, .pure-menu .pure-menu-can-have-children > li:after {
    color: white;
    background-color: #606060;
}

.pure-menu li a:hover, .pure-menu li a:focus {
    background: none repeat scroll 0 0 #879ad2;
}

.home-menu-form .pure-button,
.home-menu .pure-form input[type=email],
.home-menu .pure-form input[type=text],
.home-menu .pure-form input[type=password],
.home-menu-form label,
.home-menu-form a
{
    padding: 0.2em;
}

.home-menu ul
{
    float: right;
}

.pure-button {
    background-color: white !important;
}

.section{

}

.fp-controlArrow.fp-next
{
    border-color: transparent transparent transparent red;
}

.fp-controlArrow.fp-prev
{
    border-color: transparent red transparent transparent;
}

.slider-article
{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.slider-article-title
{
    font-size: 5em;
}

.slider-article-content
{
    font-size: 3em;
}

.separator
{
    width: 100%;
    height: 2px;
    border-bottom: 1px solid black;
}

.footer
{
    text-align: center;
    height: 100%;
    margin-top: 50px;
}

.frontpage-last-section-buttons
{
    font-size: 3em;
    padding: 0.5em;
}

.content-news
{
    text-align: left;
    width: 60%;
    margin: 0 auto;
}

.content-news h1
{
    font-size: 3em;
    color: white;
    margin-top: 5px !important;
}

.content-news .entry
{
    font-size: 1.5em;
}

.content-news-header
{
    font-size: 4em;
    margin-top: 40px;
    margin-bottom: 40px;
    color: white;
}

.content-news-site-switch
{
    font-size: 1.5em;
    margin-top: 10px;
    text-align: center;
}

.slider-article-content img
{
    display: none;
}

.content-registration
{
    width: 40em;
    margin: 0 auto;
}

#registration-form
{
    width: 40em;
}

#registration-form .pure-control-group label
{
    width: 15em;
    text-align: left;
}

#registration-form .pure-control-group input
{
    width: 23em;
}

#registration-form .pure-control-group .separator
{
    width: 39.3em;
    padding-top: 1.5em;
}

#registration-form .pure-controls
{
    margin: 1.5em 0 0 17em;
}

/*  category menu */
.popup {
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    width: 12%;
    position: absolute;
    right: 0px;
    z-index: 1;
    display: none;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

.pure-checkbox > span {
    /* position: relative; */
    /* bottom: 3px; */
    left: 2px;
}
h3{
    width: 35em;
}

h3 > span {
    font-size: 18px;
    font-weight: normal;
}

textarea.organisation-current-need {
    width: 23em !important;
}

.pure-checkbox > input {
    width: 4em !important;
    padding: 2px !important;
    margin-bottom: 0.5em;
    
}

.pure-menu.pure-menu-open, .pure-menu.pure-menu-horizontal li .pure-menu-children {
    z-index: 1001;
    width: 100%;
    background-color: #606060;
    border: 0;
}

#editable-page-content {
    font-size: 2em;
}

#maphint {
    display: block;
    font-size: 24pt;
}
